extends layout

block content
  #page-content-wrapper
    .page-content.inset
      .row
        a#menu-toggle.btn.btn-default(href='#')
          i.fa.fa-bars
        .col-md-12
          h1 Take a Picture 
        
          br
          script.
            pageData=!{pageData}
          p#link_to_social Authenticate with your favorite social networks
            br
            a#linktofb (href="/auth/facebook") Link with Facebook
            br
            a#linktotwit(href="/auth/twitter") Link with Twitter
            br
            br
            a#completeSocialize(href="/auth/completesocialize") Completed Linking    
  div#debug 
    span Debug Message: 
    input#outgoingChatMessage
    br
    ul#incomingChatMessages
    
  script.
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("active");
    });



